/*Importing google font Rancho*/
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
/*Importing google font Railway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  max-width: 1360px;
  margin: 0 auto;
}

a.active {
  background-color: white;
  color: black;
}

@theme {
  --font-rancho: "Rancho", cursive;
  --font-railway: "Raleway", sans-serif;
}
